.bg{
	background: url('../img/beijing.jpg');
    background-size: cover;
    position: fixed;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    -webkit-filter: blur(15px);
            filter: blur(15px);
    z-index: -1;
}
/*.list-group-item.node-tree_0{
    background-color:rgba(0,0,0,0);
}*/
[class*="list-group-item"]{
    background-color:rgba(0,0,0,0) !important;
}

#ctrlBox {
    text-align: center;
}

#text{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 0px 0px;
    height: 110px;
    font-size: 13px;
    font-family: "Microsoft soft";
    display: inline-block;
    width: 30%;
    height: 100px;
}
.button{
    font-family: "'微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif";
	font-size: 13px!important;
    min-height: 30px;
    height: fit-content;
    width: 10%;
	line-height: 18px!important;
	padding: 3px 18px;
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	border-radius: 3px;
	margin: 0 8px 0 3px;
	border: 1px solid #c44e79;
	color: #ffffff;
	background-color: #c44e79;
	cursor: pointer;
}
.button:hover{
    background-color: rgba(0,0,0,0);
    color: #c44e79;
}